/* Establecer un tamaño fijo para las imágenes en el carrusel */
.carousel-inner img {
    width: 100%;
    height: 400px; /* Ajusta esta altura según lo que necesites */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

/* Opcional: agregar bordes redondeados si lo deseas */
.carousel-inner img {
    border-radius: 10px;
}
/* Establecer un tamaño uniforme para las imágenes de las tarjetas */
.card-img-top {
    width: 100%;
    height: 200px; /* Ajusta esta altura según lo que necesites */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-radius: 10px; /* Opcional: Bordes redondeados */
}
